.lato-font {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.active-btn{
    background-color: #0E7A811A;
    padding: 12px 56px;
    border: 2px solid #0E7A81;
    font-size: 20px;
    font-weight: 800;
    border-radius: 120px;
  }


.btn-primary{
    background-color: #0E7A81;
    padding: 12px 32px;
    border-radius: 12px;
    color: white;
    font-weight: 800;
  }